<footer>
  <div class="container ">
    <div class="contact-cta">
    <h2>I'm available for new projects</h2>
    <p>WordPress Development | Custom Theme Design | PSD to WordPress</p>
      <a href="/contact" class="button">Get in Touch</a>
    </div>
   <div class="footer-etc">
<div>
  <p>Built with <a href="https://www.11ty.dev/">11ty</a>, hosted on <a href="https://netlify.com">Netlify</a> in San Luis Obispo, CA.</p>
  <a href="https://github.com/finleyjchen/fjc-eleventy" class="github-link">View Source on Github</a>
</div>
{# <p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p> #}
    <ul class="footer-menu">
      <li class="menu-item"><a href="mailto:finleyjchen@gmail.com">{{ '/src/site/images/icons/mail.svg' | svgContents | safe }}</a></li>
      <li class="menu-item"><a href="https://github.com/finleyjchen">{{ '/src/site/images/icons/github.svg' | svgContents | safe }}</a></li>
      <li class="menu-item"><a href="https://twitter.com/finleychen">{{ '/src/site/images/icons/twitter.svg' | svgContents | safe }}</a></li>
      <li class="menu-item"><a href="https://www.linkedin.com/in/finleychen/">{{ '/src/site/images/icons/linkedin.svg' | svgContents | safe }}</a></li>
    </ul>
</div>
  </div>
</footer>
