<footer>
  <ul class="footer-menu reset-list-style">
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-60"><a href="mailto:finleyjchen@gmail.com">Email</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59"><a href="https://github.com/inlorfaze">Github</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-61"><a href="https://twitter.com/finleychen">Twitter</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62"><a href="https://www.linkedin.com/in/finleychen/">LinkedIn</a></li>
</ul>
<p>
  Built with <a href="https://www.11ty.dev/">11ty</a> in San Luis Obispo, CA.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
<a href="https://github.com/inlorfaze/fjc-eleventy" class="github-link">View Source on Github</a>
</footer>
