@import '_variables.css';
@import '_syntax.css';

@font-face {
  src: url('/fonts/ManropeGX.ttf') format("truetype");

}
@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk-Regular.woff2') format('woff2'),
    url('/fonts/HKGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk-SemiBold.woff2') format('woff2'),
    url('/fonts/HKGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk-Italic.woff2') format('woff2'),
    url('/fonts/HKGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* General Styles */

* {
  margin: 0;

  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}

::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  /*background-color: $accent-color;*/
}

body {
  background-color: $page-color;
  font-family: -apple-systrem, BlinkMacSystremFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-family: acumin-pro, sans-serif;
  font-family: 'HK Grotesk';

  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  background: $page-color;

  @media screen and (min-width:$narrow) {
    font-size: 18px;
  }

}

strong {
  font-weight:600;
}

/* overlay animation */
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.overlay {
  z-index: 10;
  background-color: $text-color;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay-loader {
  color: $page-color;
}

.container {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  &.wide {
    max-width:80rem;  
  }
  @media (min-width:$wide) {
    padding: 0;
  }
}

  .align-wide {
    @media (min-width:$wide) {
	margin: 2rem calc(10% - 10vw);
	max-width: 100vw;
    }
}

main.container {
  padding-bottom:2rem;
  }


/* Header and Nav */
header {
  background-color: $page-color;
  color: $text-color;
  h1 {
    color: $text-color;
    padding-top: 5rem;
  }

  a:link,
  a:visited {
    color: $text-color;
    border: none;
  }

  img {
    width: 160px;
  }
}

.nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a:link,
  a:visited {

    display: inline-block;
    border-bottom-style: none;
    padding-right: 1rem;
    text-align: left;
    color: $text-color;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
  }

  a:link[data-current="current item"],
  a:visited[data-current="current item"] {
    font-weight: 600;
  }

  a:hover,
  a:focus {
    color: $accent-color;
    border-top-color: $text-color;
    border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7rem;
    color: $text-color;
  }

  br {
    padding: 1rem 0;
  }

  .logo:link,
  .logo:visited {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s ease;
    line-height:1.25rem;
    color:$text-color;
    img {
      width: 3rem;
      height: 3rem;
      @media (min-width:$mid) {
        width: 3rem;
        height: 3rem;
      }
      border-radius:50%;
    }

    span {
      font-size: 1.2rem;
      font-weight: 600;
    }

    &:hover {
    }
  }

  ul {

    li {
      display: inline;

      a {}
    }
  }
}

/* Footer */

footer {
  padding-bottom: 6rem;
  font-size: 0.9rem;
  background-color: $text-color;
  color:$page-color;

  .contact-cta {
    text-align:center;
    padding-top:2rem;
    padding-bottom:3rem;
    border-bottom:2px solid rgba(255,255,255,0.2);
    h2 {
    }
    p {

    }
  }

  .footer-etc {
    display:flex;
    padding:2rem 0;
    justify-content: space-between;
      flex-direction: column;
    @media (min-width:$mid) {
    flex-direction: row;
    }
    p {
      margin:0;
    }
    ul li a:link,
  ul li a:visited {
    color:$page-color;
      border:none;
       &:hover {
         color:$accent-color;
        }
      }
  }

  a:link,
  a:visited {
    color: rgba(255, 255, 255, 0.9);
    color: $accent-color;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: rgba(255, 255, 255, 1);
    color: $accent-color;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.5rem;

    li {
      display: inline-block;
      padding-right: 10px;


    }
  }
}

.text-center {
  text-align:center;  
}


img {
  max-width: 100%;
  margin: 1rem auto;
  border-radius: 4px;

  display: block;
}

button.button {
  outline: none;
  font-family: acumin-pro, sans-serif;
  &:hover {
    cursor: pointer;
  }
}

.button:link,
.button:visited,
.button {
  display:inline-block;
  color: $accent-color;
  background-color:transparent;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size:1rem;
  text-decoration: none;
  border: 1px solid $accent-color;
  transition: 0.1s ease-in all;
  &:hover {
    background-color: $accent-color;
    color:$page-color;
  }
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-top: 1.75rem;
  margin-bottom: 0.2rem;
  line-height: 1;


}

h1 {
  font-size: 2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  line-height: 1.1;

  @media (min-width: $mid) {
    font-size: 2.5rem;
  }

  ;

  @media (min-width: $wide) {
    font-size: 2.75rem;
  }

  ;
}



p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero {
  text-align:left;
  padding-top:6rem;
  padding-bottom:10rem;
  max-width:50ch;
  .button {
    font-size:1.2rem;
    margin-top:2rem;
  }
}

.description {
  font-size: 1.3rem;
  font-weight: 400;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 0.75rem;
  color: mix($accent-color, $text-color, 80%)
}

#home-title {
  padding-top: 2rem;
}

ul,
ol {
  padding-left: 1rem;
}

a:link,
a:visited {
  color: $accent-color;
  font-weight: 600;
  transition: color .2s ease;
  text-decoration: none;
  border-bottom:1px solid $accent-color;

}

a:hover,
a:focus {
  color: mix($page-color, $accent-color, 50%);
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style: none;
}



code {
  font-size: 0.8rem;
  background-color: mix($text-color, $accent-color, 80%);
  color: $page-color;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8rem;
  font-style: italic;
}


pre {
  overflow: auto;
  border-radius: 6px;

  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.footnote {
  display: flex;
  align-items: center;

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin-right: 1rem;
  }
}


.listing {
  padding: 0;
  margin: 1rem 0;

  article:first-of-type h3 a {
    border-top: 1px dashed $text-color;

  }

  article {
    h3 {
      margin: 0;
    }

    a {
      display: flex;

      flex-direction: column;

      span {
        order: 2;
        font-weight: 600;
      }

      time {
        order: 1;
        flex: 0 0 auto;
        align-self: center;
      }

      @media (min-width: $mid) {
        flex-direction: row;

        span {
          order: 1;
        }

        time {
          order: 2;
        }
      }

      justify-content: space-between;
      align-items: baseline;
      padding:1rem 0;
      border-bottom:1px dashed $text-color;
      text-decoration:none;

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
      }


      time {
        font-size: 0.9rem;
      }
    }
  }
}

.service-section {
  h2 {
    width: 100%;
  }

  h1,
  h2,
  h3,
  g4 {

    color: $page-color;
  }

  p,
  ul {
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    margin-bottom: 1rem;
  }

  display:flex;
  flex-wrap:wrap;
  flex-direction: column;

  @media (min-width:$mid) {
    flex-direction: row;
    padding: 1rem;

    div {}
  }

  background-color: #082e54;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23cb688a' fill-opacity='0.44'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.url {
  display: inline-block;
  align-items: center;
  justify-content: start;
  padding: 0 0.5rem;
  width: auto;
  background-color: $accent-color;

  :link,
  :visited {
    text-decoration: none;
  }

  span {}
}

.callout {
  text-align: center;
  font-size: 0.8rem;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: mix($text-color, $page-color, 20%);
}

blockquote {
  padding: 0.3rem;
  padding-left: 0.5rem;
  background-color: mix($text-color, $page-color, 10%);
  border-left: $text-color 3px solid;
}

.divider {
  padding: 2rem 0;
}

.header-image {
  margin: 0;
}

.contact-form {


  label {
    padding-bottom: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
  }

  input,
  textarea {
    padding: 0.2rem;
    display: block;
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: 1px solid $text-color;
    font-weight: 600;
    font-size: 1.2rem;

    &:focus {
      border-width: 2px;

    }
  }
}

.work-card {
   display: grid;
  @media screen and (min-width:$mid) {
    h2 {
      text-align:right;
      font-size:2rem;
    }
    grid-template-columns:repeat(2, minmax(0, 1fr));

  }
  gap: 2rem;
  padding: 1rem 0;
  padding-bottom: 5rem;

  .work-info {
    display: flex;
    flex-direction: column;


    ul {
      font-size: 0.9rem;
    }

    &>ul {
      display: flex;
      flex-direction: column;
      padding:0;
      li {
        list-style: none;
      }
    }
  }

  &>a {
    display: block;
    position: relative;
    border:none;
    span {
      display: none;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 600;
    }

    img {
      transition: 0.4s all ease;
      border-radius:0;
    }

    &:hover {
      img {
        transform: translate(-3px, -3px);
      }

      span {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;

      }
    }
  }
}

ul.dash {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}

ul.dash>li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}

.calltoaction {
  padding-top: 2rem;

  span {
    padding-left: 1rem;
  }
}

.projects {
  display: grid;
  @media screen and (min-width:$mid) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media screen and (min-width:$wide) {
    h2 {
      font-size:2rem;
    }
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  gap: 1rem;
  padding: 1rem 0;

}

.project-card {
  background-color: $text-color;
  color:$page-color;
  padding: 2rem;
  border-radius:4px;
  display:flex;
  flex-direction: column;

  .project-links {
    display:flex;
    justify-content: flex-end;
    margin-top:auto;
    a {
      border:none;
      color:$page-color;
      padding:0.5em;
      &:hover {
        color:$accent-color;
        }
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #e62267;
    padding: 0.4em 0;
    a:link,
    a:visited {
      color:$page-color;
      text-decoration: none;
      font-weight: 600;
      border:none;
    }
  }

  ul {
    font-size:1rem;
    }

}

  .about-intro {
 display: grid;
  @media screen and (min-width:$mid) {
    h2 {
      text-align:right;
      font-size:2em;
    }
    grid-template-columns:repeat(2, minmax(0, 1fr));
  }
  gap: 1rem;
  padding:1rem 0;
    p {
      font-size:1.3rem;
    }  
  }

    .content-header {
      padding:2rem 0;
        text-align:center;
    }
